@import './globals.css';
@import './window.css';

body {
  font-family: system-ui, -apple-system, Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin: 0;
  overflow: hidden;
}

body[data-font='sans-serif'] {
  font-family: system-ui, -apple-system, Arial, Helvetica, sans-serif;
}

body[data-font='mono'] {
  font-family: 'SFMono-Regular', Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
}

html,
body,
#app {
  height: 100%;
  margin: 0;
  line-height: 1.4;
}
