@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600&display=swap");
@import "./globals.css";
@import "./window.css";

body {
  font-family:
    "Manrope",
    system-ui,
    -apple-system,
    "Segoe UI",
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body[data-font="sans-serif"] {
  font-family:
    "Manrope",
    system-ui,
    -apple-system,
    "Segoe UI",
    sans-serif;
}

body[data-font="mono"] {
  font-family:
    "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-weight: 500;
}

html,
body,
#app {
  height: 100%;
  margin: 0;
  line-height: 1.5;
}

#app {
  @apply rounded-md overflow-hidden;
}
